@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@500&display=swap');

body{
    background-color: rgb(20,20,20);
    color:white;
    font-family: 'Sofia Sans Condensed', sans-serif;
    margin:0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.clicktoplay{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-size: 23px;
    cursor: pointer;
}


.progress, .volume{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 10px;
    height:6px;
    background-color:green;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

.progress::-moz-range-progress,
.volume::-moz-range-progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: yellow;
    overflow: hidden;
    height:6px;
    border-radius: 10px;
}

.progress::-moz-range-thumb,
.volume::-moz-range-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: yellow;
    overflow: hidden;
    height:12px;
    width:12px;
    border-radius: 50%;
}

.progress::-webkit-slider-runnable-track,
.volume::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    appearance: none;

    background: yellow;
    overflow: hidden;
    height:6px;
    border-radius: 10px;
}

.progress::-webkit-slider-thumb,
.volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;

    background-color: yellow;
    height:12px;
    width:12px;
    border-radius: 50%;
}